:root{
    --inner-padding: 20px 25px;
    --border-radius: 2px;
}
*{
    margin: 0;
    padding: 0;
    border-radius: var(--border-radius);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}


#outer-box{
    flex-flow: column;
    width: 600px;
    margin-top: 20px;
    background-color: #ebf3f6;
    padding: 20px;
    box-shadow: 2px 2px 10px #313131;
    transition: all 1s ease;
}
#outer-box *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#item-box p{
    color: rgba(0, 0, 0, 0.5);
}


.check-item-box{
    display: flex;
    opacity: 0;
    color: rgba(255,255,255, 1);
    overflow: hidden;
    height: 0;
}
.check-item-box.show{
    height: 60px;
}
.swing{
    perspective: 500px;
}
.swing .check-item-box{
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
.swing .check-item-box.show{
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.check-item-box > *{
    display: flex;
    justify-content: center;
    align-items: center;
}


.check-box{
    padding: var(--inner-padding);
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.todo-item{
    width: 100%;
    padding: var(--inner-padding);
    border-bottom: 1px solid #ffffff;
    justify-content: start;
    word-wrap: break-word;
}
.check-item-box:last-child .check-box,
.check-item-box:last-child .todo-item{
    border-bottom: 0;
}

#new-item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    min-height: 50px;
    margin-top: 17px;
    background-color: #fff;
}


#input-text > input{
    border: none;
    outline: none;
    font-size: 16px;
}


#color-button-box{
    display: flex;
    align-items: center;
}
#color-button-box ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#color-button-box  ul  li{
    list-style-type: none;
    display: inline;
    margin: 0 2px;
    width: 16px;
    height: 16px;
}
#color-button-box ul li:first-child{
    margin-left: 0;
}
#color-button-box ul li:last-child{
    margin-right: 15px;
}
#color-button-box  ul  li div{
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: content-box;
}


#add-button{
    width: 65px;
    height: 35px;
}
#add-button input{
    width: 100%;
    height: 100%;
    background-color: #26a59a;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
}
#add-button input:active{
    transform: scale(.95);
}
